#faqs{
	/* min-height: 720px; */
	/* display: flex;
	justify-content: center;
	align-items: center; */
	/* padding: 20px 0; */
	/* position: relative;
	background-position: center;
	background-size: cover;
	background-image: url(faqs.jpeg);
	background-attachment: fixed; */
	margin-top: -69px;
  }
  
  .accordion-container{
	/* width: 80%; */
	/* height: auto;
	margin: auto; */
  }
  
  .accordion {
	color: white;
	font-weight: 100;
	cursor: pointer;
	/* padding: 18px; */
	width: 100%;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.4s;
	font-family: inherit;
	font-size: 1.2rem;
	/* border-radius: 5px; */
	background-color: var(--color-bg);
  }
  
  button.active, .accordion:hover {
	/* color: black; */
	/* background-color: lightyellow; */
  }
  
  .panel {
	/* padding: 0 18px; */
	color: white;
	/* background-color:rgba(0, 0, 0, 0.8); */
	max-height: 0;
	overflow: hidden;
	line-height: 1.5;
	letter-spacing: 1;
	transition: max-height 0.2s ease-out;
  }
  
    
  .accordion:after {
	/* content: '\02795';  */
	/* font-size: 12px; */
	/* float: right;
	margin-left: 5px; */
	/* color: white; */
  }
  
  button.active:after {
	/* color: white;
	content: "\2796";  */
  }
  