.services__container {
    background: url('../images/Edificio1.png') center no-repeat;
    background-size: cover;
    opacity: 0.3;
    height: 60%;
    width: 100%;
}

.services__title {
    padding-top: 10rem;
    color: #fff;
}

